 {% extends "master.html" %}
 

{% block content %}
<div class="container  d-flex justify-content-center mt-5">
<div class="card mt-5" style="width: 28rem;">
  <img src="https://assets.architecturaldigest.in/photos/60083ed208ae763b9ae8542d/16:9/w_2560%2Cc_limit/fermented-coffee-beverage-brew-1366x768.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">heyy Brewbella..</h5>
    <p class="card-text">Discover The Art Of Perfect Coffee..</p>
    <a href="product/" class="btn btn-info">Go Product</a>
    <a href="addproduct/" class="btn btn-primary">Add Product</a>
  </div>
</div>
</div>

{% endblock %}