<!-- background:url('https://marketplace.canva.com/EAFyE8Hx1TE/1/0/1600w/canva-brown-modern-coffee-presentation-OaIun8PRu8M.jpg') 
 fixed -->
 <!-- no-repeat -->
  <!-- https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGtlDheJZ5eLJMAzbiblEQWf7FrOIllGV4MA&s -->
   <!-- https://assets.gqindia.com/photos/671257dcac896fef4b9ee451/16:9/w_2560%2Cc_limit/Coffee.jpg
https://images.unsplash.com/photo-1587080413959-06b859fb107d?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGNvZmZlZSUyMGN1cHxlbnwwfHwwfHx8MA%3D%3D
https://media.timeout.com/images/103026945/750/562/image.jpg -->
<!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->

{% comment %} 4386 2894 0766 0153	 {% endcomment %}